
div.row
    span.hacks-count= events.length + " Hacks"
    span.btn-group.pull-right
            button.btn.btn-info(type='button') Sort By
            button.btn.btn-info.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.caret
                span.sr-only Toggle Dropdown
            ul.dropdown-menu
                li
                    a(href='#' onclick='sortFunction(0); return false;') Date Created
                li
                    a(href='#' onclick='sortFunction(1); return false;') Participants
                li
                    a(href='#' onclick='sortFunction(2); return false;') Comments

for event in events
    div.row.row-bottom-padding
        div.col-xs-12.hack-background
            div.row
                div.col-xs-3
                    img.img-responsive(src=event.pictureURL ? '/image/' + event.pictureURL : '/image/default-hack-image.png')
                div.col-xs-9
                    div.col-xs-10
                        a.hack-title(href="/events/" + event._id)= event.title
                    //- div.col-xs-2
                    //-     div.label.label-default.hack-category= categoryLookup[event.category]
                    div.col-xs-12.pre= event.shortDescription
