extends layout
block content
    div.row
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/uk.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Uday Narla
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-9014712192
                        li
                            i.fa-li.fa.fa-envelope-square
                            | uday.narla@sumtotalsystems.com
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/bm1.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Bharat Munjuluri
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-9701911103
                        li(style='white-space: normal; float: left; width: 100%; height: auto; word-wrap: break-word;')
                            i.fa-li.fa.fa-envelope-square
                            | bharat.munjuluri@sumtotalsystems.com
                        br
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/mj1.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Mani Jangala
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-9052200553
                        li
                            i.fa-li.fa.fa-envelope-square
                            | mani.jangala@sumtotalsystems.com
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/tw1.png' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Taylor Walker
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +1-772-696-0087
                        li
                            i.fa-li.fa.fa-envelope-square
                            | taylor.walker@sumtotalsystems.com
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/sbs.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Sharathbhanu Sriramoju
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-9000563161
                        li(style='white-space: normal; float: left; width: 100%; height: auto; word-wrap: break-word;')
                            i.fa-li.fa.fa-envelope-square
                            | sharathbhanu.sriramoju@sumtotalsystems.com
                        br
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/dj1.png' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Dhanshree Jain
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-7045590044
                        li(style='white-space: normal; float: left; width: 100%; height: auto; word-wrap: break-word;')
                            i.fa-li.fa.fa-envelope-square
                            | dhanshree.jain@sumtotalsystems.com
                        br
        .col-sm-6.col-md-3
            .thumbnail
                img(src='/image/rtk3.jpg' alt='...' style='width:auto; height:auto;')
                .caption
                    h3 Raviteja Karusala
                    ul.fa-ul
                        li
                            i.fa-li.fa.fa-phone-square
                            | +91-9642770380
                        li
                            i.fa-li.fa.fa-envelope-square
                            | ravitejak@sumtotalsystems.com
