extends layout
block content
    //- ul.list-unstyled.video-list-thumbs.row
    //-     li.col-lg-3.col-sm-4.col-xs-6
    //-         a(href='#' title='Claudio Bravo, antes su debut con el Barça en la Liga')
    //-         img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg' alt='Barca' height='130px')
    //-         h2 Claudio Bravo, antes su debut con el Barça en la Liga
    //-         span.glyphicon.glyphicon-play-circle
    //-         span.duration 03:15
    //-     li.col-lg-3.col-sm-4.col-xs-6
    //-         a(href='#' title='Claudio Bravo, antes su debut con el Barça en la Liga')
    //-         img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg' alt='Barca' height='130px')
    //-         h2 Claudio Bravo, antes su debut con el Barça en la Liga
    //-         span.glyphicon.glyphicon-play-circle
    //-         span.duration 03:15
    //-     li.col-lg-3.col-sm-4.col-xs-6
    //-         a(href='#' title='Claudio Bravo, antes su debut con el Barça en la Liga')
    //-         img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg' alt='Barca' height='130px')
    //-         h2 Claudio Bravo, antes su debut con el Barça en la Liga
    //-         span.glyphicon.glyphicon-play-circle
    //-         span.duration 03:15
    //-     li.col-lg-3.col-md-4.col-sm-4.col-xs-6
    //-         a(href='#' title='Claudio Bravo, antes su debut con el Barça en la Liga')
    //-         img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg' alt='Barca' height='130px')
    //-         h2 Claudio Bravo, antes su debut con el Barça en la Liga
    //-         span.glyphicon.glyphicon-play-circle
    //-         span.duration 03:15
    //-     li.col-lg-3.col-md-4.col-sm-4.col-xs-6
    //-         a(href='#' title='Claudio Bravo, antes su debut con el Barça en la Liga')
    //-         img.img-responsive(src='http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg' alt='Barca' height='130px')
    //-         h2 Claudio Bravo, antes su debut con el Barça en la Liga
    //-         span.glyphicon.glyphicon-play-circle
    //-         span.duration 03:15
    div.row.row-bottom-padding
        h3 Search Recommendations Team
        .embed-responsive.embed-responsive-16by9(align='center')
            video.embed-responsive-item(controls)
                source(src='/video/andy.mp4' type='video/mp4')

    div.row.row-bottom-padding
        h3 Job Profile Matching AI Team
        .embed-responsive.embed-responsive-16by9(align='center')
            video.embed-responsive-item(controls)
                source(src='/video/mani.mp4' type='video/mp4')

    div.row.row-bottom-padding
        h3 Amazon Echo UDP Team
        .embed-responsive.embed-responsive-16by9(align='center')
            video.embed-responsive-item(controls)
                source(src='/video/shikhar.mp4' type='video/mp4')

    
    //- // Carousel Wrapper
    //- #video-carousel-example2.carousel.slide.carousel-fade(data-ride='carousel')
    //- // Indicators
    //- ol.carousel-indicators
    //-     li.active(data-target='#video-carousel-example2' data-slide-to='0')
    //-     li(data-target='#video-carousel-example2' data-slide-to='1')
    //-     li(data-target='#video-carousel-example2' data-slide-to='2')
    //- // /.Indicators
    //- // Slides
    //- .carousel-inner(role='listbox')
    //-     // First slide
    //-     .carousel-item.active
    //-     // Mask color
    //-     .view
    //-         // Video source
    //-         video.video-fluid(autoplay='' loop='' muted='')
    //-         source(src='https://mdbootstrap.com/img/video/Lines.mp4' type='video/mp4')
    //-         .mask.rgba-indigo-light
    //-     // Caption
    //-     .carousel-caption
    //-         .animated.fadeInDown
    //-         h3.h3-responsive Light mask
    //-     // Caption
    //-     // /.First slide
    //-     // Second slide
    //-     .carousel-item
    //-         // Mask color
    //-         .view
    //-         // Video source
    //-         video.video-fluid(autoplay='' loop='' muted='')
    //-             source(src='https://mdbootstrap.com/img/video/animation-intro.mp4' type='video/mp4')
    //-         .mask.rgba-purple-slight
    //-         // Caption
    //-         .carousel-caption
    //-         .animated.fadeInDown
    //-             h3.h3-responsive Super light mask
    //-         // Caption
    //-         // /.Second slide
    //-         // Third slide
    //-         .carousel-item
    //-         // Mask color
    //-         .view
    //-             // Video source
    //-             video.video-fluid(autoplay='' loop='' muted='')
    //-             source(src='https://mdbootstrap.com/img/video/cube.mp4' type='video/mp4')
    //-             .mask.rgba-black-strong
    //-         // Caption
    //-         .carousel-caption
    //-             .animated.fadeInDown
    //-             h3.h3-responsive Strong mask
    //-         // Caption
    //-         // /.Third slide
    //-         // /.Slides
    //-         // Controls
    //-         a.carousel-control-prev(href='#video-carousel-example2' role='button' data-slide='prev')
    //-             span.carousel-control-prev-icon(aria-hidden='true')
    //-             span.sr-only Previous
    //-         a.carousel-control-next(href='#video-carousel-example2' role='button' data-slide='next')
    //-             span.carousel-control-next-icon(aria-hidden='true')
    //-             span.sr-only Next
    //-         // /.Controls
    //- // Carousel Wrapper
