extends layout
block content
    //- h3 Guidelines
    div.row
        //- p
        //-     b What is it?
        //- p
        //-     | Ideathon-II is a product development challenge that will take place for (most of) the duration of the 21.1 Regression and Sanity Phases which starts on 
        //-     b 2021-01-06
        //-     |  and ends on 
        //-     b 2021-02-03
        //-     | . This will be an opportunity to show off coding ideas, product POCs, and other general cool or neat concepts in the development space. In essence, it’s a “Hackathon” that lasts for an entire month!
        //-     | The longer duration should provide more flexibility in scheduling your work, easier integration with home and work responsibilities, and (hopefully) a more finished product at the end. To be clear – it is 100% intended that you use “business hours” to do this. But exactly how much time you spend on this and exactly how you arrange it is up to you - as you balance other responsibilities.
        //-     | At the end of the Ideathon, submissions will be judged by a panel of highly trained and impartial judges. A winner, or multiple winners, will be declared.
        //- br

        //- p
        //-     b Why You Should Do It
        //- p
        //-     i Because it's fun!
        //-     |  This is an opportunity to take some time and experiment with a technology you’re not familiar, or develop an application you’ve been brainstorming, or simply try out something cool! 
        //-     |  Oh, and also, because the winning team will get some sort of to-be-determined prize. And bragging rights! Don’t forget about the bragging rights!

        //- br

        //- p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        //-     strong
        //-         span(style='font-size:14px;font-family:"Segoe UI",sans-serif;color:black;background:#9ED267;') Guidelines
        //-     span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
        //-         br
        //-         em
        //-         | Your submission 
        //-         strong must
        //-         | :
        //- ul(style='margin-bottom:0cm;' type='disc')
        //-     li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        //-         span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
        //-         | Be some sort of software product. 3D printing a 30:1 scale model of your office cubicle because you miss it so much is definitely relatable, but it does not qualify for the Ideathon.
        //-     li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        //-         span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
        //-         | Be your own work. Downloading a product from the internet and presenting it as your own is not good. Copying some code you’ve been struggling with for 4 days out of StackOverflow to embed into your program, is perfectly fine.
        //-     li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        //-         span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
        //-         | Be demo-able at the end of the month. It doesn’t have to be fully functioning, but it should be something more than a PowerPoint presentation.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        strong
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;color:black;background:#9ED267;') What is it?
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Ideathon-II is a sequel of Engineering 2020 Ideathon, a product development challenge that will take place for (most of) the duration of the 21.1 Regression and Sanity Phases which starts on
            strong  2021-01-06
            |  and ends on 
            strong 2021-02-03
            | . This will be an opportunity to show off coding ideas, product POCs, and other general cool or neat concepts in the development space. 
            em In essence, it’s a “Hackathon” that lasts for an entire month!
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  The longer duration should provide more flexibility in scheduling your work, easier integration with home and work responsibilities, and (hopefully) a more finished product at the end. To be clear – it is 100% intended that you use “business hours” to do this. But exactly how much time you spend on this and exactly how you arrange it is up to you - as you balance other responsibilities.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | At the end of the Ideathon, submissions will be judged by a panel of highly trained and impartial judges.
            | . A winner, or multiple winners, will be declared.
        //- p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        //- strong
        //-     span(style='font-size:14px;font-family:"Segoe UI",sans-serif;') To participate you just need to register at https://ideathon.sumtotaldevelopment.net/
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
        strong
            span(style='color:black;background:#9ED267;') Why You Should Do It
            br
            em Because it’s fun!
            |  This is an opportunity to take some time and experiment with a technology you’re not familiar, or develop an application you’ve been brainstorming, or simply try out something cool!
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Oh, and also, because the winning team will get some sort of to-be-determined prize. And bragging rights! Don’t forget about the bragging rights!
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
        strong
            span(style='color:black;background:#9ED267;') Guidelines
            br
            em
            | Your submission 
            strong must
            | :
        ul(style='margin-bottom:0cm;' type='disc')
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Be some sort of software product. 3D printing a 30:1 scale model of your office cubicle because you miss it so much is definitely relatable, but it does not qualify for the Ideathon.
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Be your own work. Downloading a product from the internet and presenting it as your own is not good. Copying some code you’ve been struggling with for 4 days out of StackOverflow to embed into your program, is perfectly fine.
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Be demo-able at the end of the month. It doesn’t have to be fully functioning, but it should be something more than a PowerPoint presentation.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        em
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Your submission 
            strong should
            | :
        ul(style='margin-bottom:0cm;' type='disc')
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Use technologies relevant to the present or future of SumTotal. The more relevant the technology, the more you’ll capture the judges’ attention. That means using ReactJS would earn you bonus points, but drawing a pretty picture in Logo would probably not (
            em unless it was a VERY cool picture
            | )
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Be creative! This is an opportunity to try something different, and maybe even show off a bit. It’s ok if the submission doesn’t neatly fold directly into our product suite now. If it’s creative, and unique, and interesting, that’s enough!
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        strong
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;color:black;background:#9ED267;') Any Idea Suggestions?
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Well, since you’ve asked, here are a few. But note, even these are centered around our product, your idea doesn’t have to be:
        ul(style='margin-bottom:0cm;' type='disc')
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | A brand-new Application UX using ReactJS. Simple! Intuitive! Reactive! Flying slide-outs! Sliding fly-outs! All built in ReactJS!
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | VR course training! Think a How To guide you can interact with. How many YouTube videos does it usually take to find the perfect angle for that plumbing repair you need to do? In VR, you can look at the pipe from any angle right away.
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Integration with collaboration tools. How about Just-in-time learning launched straight from Microsoft Teams? Or Fantasy Football for Dummies straight from a league page? Where else can learning be integrated so that it’s available with one click?
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | Conversation interfaces in our product. Maybe our users could press a “Help Me” button on any page and reach Customer Support! I’m not sure our Customer Support team would be thrilled with that button, but that’s the magic of an Ideathon – it’s just exploring possibilities.
        li(style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            | And let’s not forget the biggest buzzword of our time – BLOCKCHAIN! Pretty much anything you can make using Blockchain technology will get instant bonus points (at least from me).
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        strong
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;color:black;background:#9ED267;') Questions we Expect to be Frequently Asked
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Nobody has asked any questions yet, but we’re guessing these are the questions people will most want to know.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        em
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;') Can people work in teams?
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Yes! You can work individually or in teams up to 6 people.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        em
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;') Why do we have to register?
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Just so that we can plan appropriately. If you forgot to register at the beginning, no problem. Go ahead and register as soon as you can.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        em
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;') Does the result have to be shippable?
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Not at all, however judges may give extra credit for submissions that more closely align with our products. But keep in mind that it may not always clear what ideas may be applicable to our product! Something that at first glance appears unrelated, for instance an app for a smart fridge, may actually grow to be a significant market differentiator (who hasn’t wanted to listen to an audio book while looking for a midnight snack!). This is primarily an opportunity to show off your ideas, not worry about how to market your solution.
        p(style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;')
        em
            span(style='font-size:14px;font-family:"Segoe UI",sans-serif;') What is the prize?
        span(style='font-size:14px;font-family:"Segoe UI",sans-serif;')
            br
            |  Stay tuned! I can't give out all the details all at once. I promise, the details of the prize will be announced in due time.
        p
        span(style='font-size:14px;line-height:107%;font-family:"Segoe UI",sans-serif;') It is going to be awesome!

